@{
    ViewData["Title"] = "Home Page";
    
}

<div class="container">

<div class="col-sm-12">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100"  src="https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/social_share_large/public/purina-perros-y-gatos-pueden-ser-amigos.png?itok=AaztstEz" alt="" width="" height="">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://i.pinimg.com/originals/90/eb/90/90eb907fde3833db6c0b58cbfae30f82.jpg" alt="" width="" height="">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://www.webconsultas.com/sites/default/files/styles/wc_adaptive_image__small/public/temas/convivencia-perros-gatos.jpg" alt="" width="" height="">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>

<a class = "btn btn-primary" href="/Adopcion/Adopcion">Ir al formulario</a>

</div>   
